<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/grindin_nobg.png" alt="Grindin' Logo" style="height: 40px; width: auto;" class="me-3" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/job-ads" routerLinkActive="active">Обяви за работа</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/job-applications" routerLinkActive="active">Моите кандидатури</a>
        </li>
      </ul>

      <div class="d-flex gap-2">
        <button class="btn btn-outline-primary btn-sm" (click)="onLogout()">Отпишете се</button>
      </div>
    </div>
  </div>
</nav>