<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted border-top">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Свържете се със създателя на приложението в социалните мрежи:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://github.com/BADimov21" target="_blank" rel="noopener noreferrer" class="me-4 text-reset" aria-label="GitHub">
        <i class="bi bi-github fs-5"></i>
      </a>
      <a href="https://www.linkedin.com/in/bozhidar-dimov-a5b31223a/" target="_blank" rel="noopener noreferrer" class="me-4 text-reset" aria-label="LinkedIn">
        <i class="bi bi-linkedin fs-5"></i>
      </a>
      <a href="mailto:BADimov21@codingburgas.bg" class="me-4 text-reset" aria-label="Email">
        <i class="bi bi-envelope-fill fs-5"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: About and links -->
  <section class="py-4">
    <div class="container text-center text-md-start">
      <div class="row">
        <div class="col-md-6 mb-4">
          <h6 class="text-uppercase fw-bold mb-3">За приложението - Grindin'</h6>
          <p>
            <strong>Grindin'</strong> е приложение, което помага за лесно проследяване и управление на кандидатури за работа. To улеснява процеса по търсене и кандидатстване за най-различни работни позиции. 
          </p>
        </div>

        <div class="col-md-3 mb-4">
          <h6 class="text-uppercase fw-bold mb-3">Полезни връзки</h6>
          <p><a href="/job-ads" class="text-reset">Обяви за работа</a></p>
          <p><a href="/job-applications" class="text-reset">Моите кандидатури</a></p>
        </div>

        <div class="col-md-3 mb-4">
          <h6 class="text-uppercase fw-bold mb-3">Контакт</h6>
          <p><i class="bi bi-envelope me-2"></i>BADimov21&#64;codingburgas.bg</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: About and links -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Grindin'. Създадено от Божидар Димов. Всички права запазени.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
